.weight-input-popup {
  padding: 16px 0;

  .weight-form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;

    .label {
      color: #333;
      font-size: 16px;
    }

    .weight-value-wrapper {
      flex: 1;
      text-align: right;

      .value {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #333;
        font-size: 16px;

        .arrow {
          width: 15px;
          height: 15px;
          margin-left: 2px;
          object-fit: contain;
        }
      }
    }
  }
}