.weight-input-popup {
  padding: 16px;

  .weight-form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: #f7f8f8;
    border-radius: 14px;
    margin: 10px;

    .label {
      // color: #333;
      // font-size: 16px;
      font-size: 16px;
      color: #666;
      display: flex;
      align-items: center;
      font-weight: 400;
      line-height: 18px;
    }

    .weight-value-wrapper {
      flex: 1;
      text-align: right;

      .value {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #666;
        font-size: 16px;
      }
    }
  }
}