.weight-input-popup {
    padding: 16px 0;
  
    .form-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 20px;
  
      .label {
        color: #333;
        font-size: 16px;
      }
  
      .value-wrapper {
        flex: 1;
        text-align: right;
        
        .value {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: #333;
          font-size: 16px;
          
          .arrow {
            margin-left: 12px;
            color: #999;
            font-size: 18px;
          }
        }
      }
    }
  }
  