.time-picker {
  display: flex;
  align-items: center; // 确保 label 和时间值垂直对齐
  width: 100%; // 撑满父容器


  .label {
    font-size: 16px;
    color: #333;
    margin-right: 16px; // 确保 label 和 value-wrapper 有适当间距
    white-space: nowrap; // 防止文字换行
    flex-shrink: 0; // 防止 label 被压缩
  }



  .value-wrapper {
    flex: 1; // 占据剩余空间
    text-align: right; // 值靠右对齐
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .value {
      font-size: 16px;
      color: #333;
      display: flex;
      align-items: center;
    }


  }
}