// /pages/login/index.scss
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    height: 100vh;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
  }
  
  .welcome-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .login-button {
    width: 80%;
    margin-top: 30px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    color: #ffffff;
    border-radius: 50px;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .link {
    color: #2980b9;
  }