.urine-input-popup {
    display: flex;
    flex-direction: column;
    height: 100%;

    .popup-title {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin: 16px 0;
    }

    .period-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 12px;
        margin: 0 8px 16px;

        .period-tag {
            flex: 1 1 calc(33.33% - 12px);
            padding: 4px 4px;
            text-align: center;
            background: #f5f5f5;
            border-radius: 12px;
            font-size: 14px;
            color: #666; // 更淡的文字颜色
            cursor: pointer;

            &.active {
                background: linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%);
                color: #fff;
            }
        }
    }

    .input-section {
        margin-top: auto;
        // 移除底部内边距
        padding: 0;
    }
}