.custom-button {
    width: 100%;
    max-width: 300px;
    height: 48px;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    cursor: pointer;

    &.primary-button {
        background: linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%);
        color: #fff;
        font-weight: bold;
    }

    &.secondary-button {
        background: #f0f0f0;
        color: #666;
    }
}