.health-page {
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;

  .content-wrapper {
    // margin: 15px, 15px;
    // padding: 15px 15px; // 添加上下 20px 的 padding
    // width: 100%;
    // box-sizing: border-box;

    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
  }
  

  .health-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .half-width {
      width: calc(50% - 5px); // 调整为两列布局，减去中间的间距
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    .full-width {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}