.page-container {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(146, 163, 253, 0.3) 0%, rgba(157, 206, 255, 0.1) 60%, #fcfcfc 50%);

  .health-page {
    position: relative;
    box-sizing: border-box;
    // 设置一个固定的安全距离，确保内容不会被导航栏遮挡
    padding-top: 88px;
    height: 100vh;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
  }

  .health-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .top-row {
    display: flex;
    gap: 15px;
    align-items: stretch;
  }

  .left-column {
    flex: 1;
    height: 100%;
  }

  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .urine-bp-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    &>* {
      flex: 1;
    }
  }

  // 通用样式
  .small-card-title {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .update-time {
    font-size: 10px;
    color: #999;
    position: absolute;
    left: 15px;
    bottom: 15px;
  }

  .small-card-add-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .big-card-add-button {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .small-card-header {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}