.health-page {
  background-color: #FCFCFC;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 30px;
  width: 100%;
  box-sizing: border-box;
}

.health-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top-row {
  display: flex;
  gap: 15px; /* 间隙 */
  align-items: stretch; /* 让左右两列的高度保持一致 */
}

.left-column {
  flex: 1;
  height: 100%; /* 确保左侧喝水卡片的父容器占满高度 */
}


 .right-column {
  flex: 1; /* 让左右列宽度一致 */
}


.right-column {
  display: flex;
  flex-direction: column;
  gap: 15px; /* 上下卡片之间的间隙 */
}




.urine-bp-cards {
  display: flex;
  flex-direction: column;
  gap: 16px; /* 控制两个方形卡片之间的间隙 */
  height: 100%; /* 占满父容器的高度 */
}

.urine-bp-cards > * {
  flex: 1; /* 保证尿液和血压卡片平分右侧列的高度 */
}




// 通用样式
.small-card-title {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}
.update-time {
  font-size: 14px;
  color: #999;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.small-card-add-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.small-card-header {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}