.main-content {
  padding: 5px; // 设置屏幕边距为5px
  background: linear-gradient(to bottom, #e6f2ff, #f6f7fb);
  min-height: 100vh; // 确保背景覆盖整个页面

  .health-page {
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .header {
      margin-bottom: 20px;
    }

    .cards-container {
      margin-bottom: 10px;
      width: 100%;
    }

    .health-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      // margin-top: 10px; // 这里可以适当调整上方间距

      .half-width {
        width: calc(50% - 10px); // 确保两列布局，减去两边总间距
        margin-bottom: 10px; // 设置统一的下方间距
        box-sizing: border-box;
      }

      .full-width {
        width: 100%;
        margin-bottom: 10px; // 设置全宽卡片的下方间距
      }
    }
  }
}

.health-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  box-sizing: border-box;
}