.chart-indicators {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  
  .indicator-item {
    display: flex;
    align-items: center;
    margin-left: 16px;
    
    .indicator-color {
      width: 12px;
      height: 12px;
      border-radius: 2px;
      margin-right: 4px;
    }
    
    .indicator-label {
      font-size: 12px;
      color: #7b6f72;
    }
  }
} 