.add-button {
  background: linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plus-icon {
  width: 15px;
  height: 15px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    border-radius: 1px;
  }

  &::before {
    width: 100%;
    height: 1.875px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::after {
    width: 1.875px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}