.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FCFCFC;
    /* 浅灰背景 */
    min-height: 100vh;
}

.profile-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
}

.profile-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.profile-username {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.profile-name {
    font-size: 12px;
    color: #666;
}

.edit-button {
    background: linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%);
    color: white;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    height: 32px;
    /* 按钮高度更扁平 */
}

/* 状态卡片样式 */
.profile-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-stat-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 16px;
    /* 调整圆角 */
    padding: 15px 0;
    margin: 0 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
    /* 弱化阴影 */
}

.stat-value {
    font-size: 18px;
    font-weight: bold;
    color: #92a3fd;
    margin-bottom: 5px;
}

.stat-label {
    font-size: 12px;
    color: #999;
}

/* 个人设置样式 */
.profile-settings {
    width: calc(100% - 40px);
    /* 减去 profile-container 的 padding */
    background-color: #ffffff;
    border-radius: 16px;
    /* 调整圆角 */
    padding: 20px;
    /* 卡片内部内容间距 */
    margin-top: 30px;
    /* 增大与其他部分的间距 */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
    /* 弱化阴影 */
}

.settings-title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    /* 调整标题和第一个选项间距 */
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.item-label {
    display: flex;
    align-items: center;
    /* 对齐 Icon 和文字 */
    font-size: 14px;
    color: #666;
}

.item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    /* Icon 和文字的间距 */
}