// components/TimeSelector/index.scss
.time-selector {
    display: flex;
    align-items: center;
    padding: 16px;
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
  
    .label {
      width: 80px;
      font-size: 16px;
      color: #333333;
    }
  
    .picker-wrapper {
      flex: 1;
      
      .picker-value {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 16px;
        color: #333333;
  
        .arrow {
          margin-left: 8px;
          color: #999999;
          font-size: 18px;
        }
      }
    }
  }
  