.time-selector-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #F0F0F0;

    .time-selector {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .label {
            font-size: 16px;
            color: #333333;
            margin-right: 16px;
        }

        .picker-value {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #333;

            .arrow {
                width: 15px;
                height: 15px;
                margin-left: 2px;
                object-fit: contain;
            }
        }
    }
}