// components/TimeSelector/index.scss
.time-selector {
    display: flex;
    align-items: center;

    .label-wrapper {
        width: 120px;
        font-size: 16px;
        color: #333333;
    }

    .picker-wrapper {
        flex: 1;

        .picker-value {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 16px;
            color: #333333;

            .arrow {
                width: 15px; // 设置宽度
                height: 15px; // 设置高度
                margin-left: 2px;
                color: #999999;
                font-size: 18px;
                object-fit: contain; // 确保图片保持比例
            }
        }
    }
}