.blood-pressure-card {
  position: relative;
  width: 100%;
  height: 50%; /* 卡片高度占右侧容器的 50% */
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* 轻微且紧贴元素的阴影 */
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}



.high-red {
  color: red; /* 高压高于130时，显示为红色 */
}

.high-green {
  color: green; /* 高压低于90时，显示为绿色 */
}

.low-red {
  color: red; /* 低压高于80时，显示为红色 */
}

.low-green {
  color: green; /* 低压低于60时，显示为绿色 */
}


.content {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column; /* 改为纵向布局 */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.value-container {
  display: flex;
  flex-direction: row; /* 保持高压、低压和斜杠在一行 */
  align-items: baseline; /* 垂直对齐基线 */
}


.blood-unit {
    margin-top: 2px; /* 为单位与数值之间添加间隙 */
    text-align: center; /* 单位居中对齐 */
}

.heart-icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 24px;
  height: 24px;
}
