.blood-pressure-card {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}



.systolic-value,.separator, .diastolic-value, .heart-rate-value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.blood-unit, .heart-rate-unit {
  font-size: 12px;
  color: #999;
  margin-left: 4px;
}


.value-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 16px;
}

.values {
  display: flex;
  align-items: baseline;
}

.separator {
  margin: 0 3px;
}

.heart-rate-row {
  margin-top: 5px;
}


.high-red {
  color: red;
}

.high-green {
  color: green;
}

.low-red {
  color: red;
}

.low-green {
  color: green;
}

.heart-icon {
  position: absolute;
  right: 20px;
  bottom: 15px;
  width: 24px;
  height: 24px;
}