.ucharts-demo {
    width: 100%;
    height: 300px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .charts {
        width: 100%;
        height: 100%;
    }
}