.weight-card {

    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);

    // background-color: #e8eefc;
    padding: 15px;
    // border-radius: 16px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    /* 轻微且紧贴元素的阴影 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: auto;
    position: relative; // 确保绝对定位是相对于卡片本身
}


.weight-card-add-button {
    position: absolute;
    top: 0;
    right: 0;
}



.weight-title {
    position: absolute;
    /* 让标题绝对定位 */
    top: 15px;
    /* 距离卡片顶部 15px */
    left: 15px;
    /* 距离卡片左侧 15px */
}


/* 体重容器 */
.weight-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
}


/* 体重值容器 */
.weight-value {
    position: relative;
    /* 作为参考点 */
    margin-top: 5px;
    display: flex;
    align-items: baseline;
    position: relative;
    /* 设置相对定位，便于内部的绝对定位元素参考 */
    transform: translateY(5px);

    /* 将整个数值部分下移 */
    .weight-unit {
        font-weight: 600; // 加粗字体
        color: rgba(0, 0, 0, 0.45); // 使用较淡的颜色
        margin-left: 4px;
    }
}

/* 整数部分的样式 */
.weight-integer {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 62px;
    color: #92a3fd;
}

/* 小数部分的样式 */
.weight-decimal {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 62px;
    color: #92a3fd;
    margin-left: 2px;
}

/* 体重单位的样式 */
.weight-unit {
    position: absolute;
    left: 90%;
    /* 水平定位到小数部分的右侧 */
    transform: translateX(-50%);
    /* 让单位的中心对齐到小数点的中心 */
    white-space: nowrap;
    /* 强制不换行 */
}


/* 更新时间 */
.weight-update-time {
    font-size: 12px;
    color: #ADA4A5;

}


/* 编辑按钮的样式 */
.edit-button {
    position: absolute;
    /* 相对于 .weight-container 定位 */
    right: -10px;
    /* 根据需要调整偏移量 */
    top: 35px;
    /* 向下偏移 */
    width: 24px;
    height: 24px;
    background: url('../../assets/icons/edit_button.png') no-repeat center center;
    background-size: contain;
}

/* 体重变化容器 */
/* 容器样式 */
.weight-change-container {
    position: relative;
    left: -10px;
    /* 向左移动 */
    top: 4px;
    /* 向下移动 */
    display: flex;
    flex-direction: column;
    /* 纵向排列子元素 */
    margin: 15px;
}

/* 第一行的容器样式 */
.weight-change-row {
    display: flex;
    align-items: center;
    /* 垂直居中对齐 */
    margin-bottom: 7px;
    /* 与下一行的间距 */
}

/* 体重变化值样式 */
.weight-change {
    margin-top: 13px;
    margin-right: 5px;
    /* 与箭头的间距 */
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 48px;
    color: #92a3fd;
}

/* 箭头样式 */
.weight-change-icon-up,
.weight-change-icon-down {
    width: 16px;
    /* 根据图标大小调整 */
    height: 16px;
    margin-top: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 体重变化时间样式 */
.weight-relative-time {
    font-size: 12px;
    color: #ADA4A5;
}