.weight-card {
    .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .content {
      font-size: 16px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }