.capsule-selector {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;

    .capsule-item {
        padding: 6px 12px;
        border-radius: 8px;
        font-size: 14px;
        color: #7B6F72;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: #FFFFFF;

        &.active {
            background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
            color: white;
            font-weight: 600;
        }

        &:hover {
            opacity: 0.9;
        }
    }
}