.pd-record-page {
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .form-container {
        .form-group {
            margin-bottom: 16px;
            background-color: #F7F8F8;
            border-radius: 14px;
            padding: 12px;

            &.concentration-group {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .label {
                    font-size: 14px;
                    color: #1D1617;
                    margin-right: 12px;
                }
            }
        }
    }

    .button-container {
        position: fixed;
        bottom: 40px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 0 16px;
    }
}