.pd-record-page {
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .form-container {
        .form-group {
            margin-bottom: 16px;
            background-color: #F7F8F8;
            border-radius: 14px;
            padding: 12px;

            &.concentration-group {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .label {
                    font-size: 16px;
                    color: #1D1617;
                    margin-right: 12px;
                }
            }
        }
    }

    .button-container {
        margin-top: auto;
        padding-bottom: 20px;

        .submit-button {
            background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
            color: white;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            padding: 14px;
            border-radius: 30px;
            box-shadow: 0 10px 20px rgba(146, 163, 253, 0.2);
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                transform: translateY(-1px);
                box-shadow: 0 12px 24px rgba(146, 163, 253, 0.3);
            }

            &:active {
                transform: translateY(0);
            }
        }
    }
}