.urine-volume-card {
  position: relative;
  width: 100%;
  padding-top: 100%; 
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  .header {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .title {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
  }

  .add-button {
    position: absolute;
    top: 5px !important;
    right: 5px !important;
    width: 32px;  // 确保按钮大小合适
    height: 32px; 
  }

  .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
  }

  .value-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .value {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
  }

  .unit {
    font-size: 14px;
    color: #999;
    margin-left: 5px;
    line-height: 1.5;
  }

  .urine-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 1px;
    bottom: 1px;
  }
}