.urine-volume-card {
    position: relative;
    width: 100%; // 这里保持 100%，因为父元素 .half-width 已经设置了宽度
    height: auto; // 设置高度为 150px，与宽度相同
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-sizing: border-box;
  
    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  
    .title-container {
      display: flex;
      flex-direction: column;
    }
  
    .title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
    }
  
    .update-time {
        position: absolute;
        top: 40px;
        left: 15px;
      font-size: 12px;
      color: #999;
    }
  
    .add-button {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  
    .content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-grow: 1;
    }
  
    .value-container {
        display: flex;
        flex-direction: row; // 改为横向排布
        align-items: flex-end; // 底部对齐
      }
    
      .value {
        font-size: 24px;
        font-weight: bold;
        line-height: 1; // 确保数值底部对齐
      }
    
      .unit {
        font-size: 14px;
        color: #999;
        margin-left: 5px; // 添加一些间距
        line-height: 1.5; // 调整行高以实现底部对齐
      }
      
    .urine-icon {
      width: 45px;
      height: 45px;
    }
  }