.urine-volume-card {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px; /* 调整数值和单位之间的间距 */
  flex-shrink: 0; /* 防止缩小 */
  white-space: nowrap; /* 防止换行 */
  padding: 10px;
  overflow: hidden;
  margin-top: 3px;
}
.urine-unit {
  margin-left: 5px;
}


.urine-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 7px;
  bottom: 7px;
}


