.water-card {
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; /* 左右排布 */
    align-items: flex-start;
    height: 315px; /* 设置卡片高度 */
    position: relative; /* 为了让进度条绝对定位 */
    margin-top: 10px;
  }
  
  .water-progress-container {
    width: 20px; /* 设置进度条宽度 */
    height: 100%; /* 设置进度条高度 */
    
    background-color: #f0f0f0;
    border-radius: 30px 30px 30px 30px; /* 设置上下圆角 */
    position: relative;
    overflow: hidden;
  }
  
  .water-progress {
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 30px 30px 30px 30px; /* 设置上下圆角 */
  }
  
  .water-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px; /* 为了让内容避开进度条 */
    width: 100%; /* 占满剩余空间 */
  }
  
  .water-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .water-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 150% */

    /* black */
    color: #1D242A;
  }
  
  .water-tip {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #ADA4A5;
  }
  
  .water-records {
    flex: 1;
    position: relative;
    width: 100%;
  }
  
  .water-record {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .water-record-dot {
    width: 8px;
    height: 8px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .water-record-info {
    display: flex;
    flex-direction: column;
  }
  
  .water-record-time {
    font-size: 12px;
    color: #999;
  }
  
  .water-record-amount {
    font-size: 14px;
    color: #007AFF;
  }
  
  .drink-button {
    color: #fff;
    font-size: 12px;
    position: absolute;
    width: 70px;
    height: 20px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    border-radius: 50px;
    bottom: 20px; /* 距离卡片底部20px */
    left: 60%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .water-records::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: repeating-linear-gradient(
      to bottom,
      #ccc,
      #ccc 4px,
      transparent 4px,
      transparent 8px
    );
  }