.custom-popup {
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    align-items: flex-end;
  }

  &-content {
    position: relative;
    width: 100%;
    max-height: 90vh;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &-title {
    position: relative;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    color: #333;
    // margin-bottom: 8px;
    flex-shrink: 0;
  }

  &-body {
    overflow-y: auto;
    flex: 1;
    -webkit-overflow-scrolling: touch;
  }

  &-btn {
    position: absolute;
    top: 8px;
    /* Reduced the top margin */
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    /* Added smooth transition for scale and background color */

    &:active {
      transform: scale(0.95);
      /* Slight scale effect on click */
      background-color: rgba(24, 144, 255, 0.1);
      /* Light background change for visual feedback */
    }
  }

  &-cancel {
    left: 8px;
    /* Reduced the left margin */
    color: #666;
  }

  &-confirm {
    right: 8px;
    /* Reduced the right margin */
    color: #1890ff;
  }
}