.water-input-popup {
    padding: 20px;
    background-color: #fff; // Background color for the popup
    border-radius: 8px; // Rounded corners

    .time-container {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        Text {
            font-size: 16px;
            color: #333;
        }

        .picker {
            display: flex;
            align-items: center;
            color: #333;
            font-size: 16px;

            .clock-icon {
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }

    .tags-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .volume-tag {
            padding: 6px 12px;
            background-color: #007AFF;
            color: white;
            border-radius: 20px;
            margin: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 36px; // Ensures consistent height
        }

        .editing-tag-container {
            display: flex;
            align-items: center;

            .editing-tag {
                display: flex;
                align-items: center;
                background-color: rgba(0, 122, 255, 0.1);
                border-radius: 20px;
                padding: 4px 8px; // Smaller padding for a smaller tag
                height: 36px; // Match height with other tags

                .tag-input {
                    border: none;
                    background: transparent;
                    color: #007AFF;
                    font-size: 14px;
                    outline: none;
                    width: 50px; // Adjust width for a smaller input
                    text-align: center; // Center the value
                }

                .tag-input-cancel {
                    color: #FF3B30;
                    margin-left: 8px;
                    cursor: pointer;
                }
            }
        }

        .add-tag-button {
            padding: 6px 12px;
            background-color: #007AFF;
            border-radius: 20px;
            color: #fff;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 36px; // Ensure consistent height
        }
    }

    .input-section {
        margin-top: 20px; // Space above the numeric input
    }
}