.time-picker {
  display: flex;
  align-items: center;
  width: 100%;

  .label {
    font-size: 16px;
    color: #666;
    margin-right: 16px;
    white-space: nowrap;
    flex-shrink: 0;
  }

  picker {
    flex: 1;
  }

  .value-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    color: #666;

    .value {
      font-size: 16px;
      color: #666;
      display: flex;
      align-items: center;
    }
  }
}