
page {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  // --nut-primary-color: #{$primary-color};
  // --nut-primary-color-end: #{$primary-color-end};
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 15px;
}