@import "~taro-ui/dist/style/index.scss"; // 引入组件样式 - 方式二

page {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 14px;
  overflow-y: auto;



}



.popup-open {
  overflow: hidden !important;
}




// 以下是通用字体样式
.large_text_semi_bold {
  font-size: 16px;
  font-weight: 600;
}


.small_text_medium {
  font-size: 12px;
  color: #1D242A;
  line-height: 18px;
  font-weight: 500;
  /* medium 一般对应于 font-weight 500 */
}

.grey_text_semi_bold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ADA4A5;
}

.global-value {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.global-unit {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}

:global {
  .arrow {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center;
  }
}