page {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

}


// 以下是通用字体样式
.large_text_semi_bold {
  font-size: 16px;
  font-weight: 600;
}


.small_text_medium {
  font-size: 12px;
  color: #1D242A;
  line-height: 18px;
  font-weight: 500;
  /* medium 一般对应于 font-weight 500 */
}

.grey_text_semi_bold {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ADA4A5;
}

.global-value {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.global-unit {
  font-size: 14px;
    color: #999;
    line-height: 1.5;
}