.custom-popup {
    .custom-popup__header {
      display: flex;
      justify-content: space-between;
      padding: 16px;
    }
  
    .custom-popup__cancel,
    .custom-popup__confirm {
      cursor: pointer;
      transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
  
      &:active {
        transform: scale(0.95);
        opacity: 0.7;
      }
    }
  
    .custom-popup__content {
      padding: 16px;
    }
  
  
    .svg-icon {
      width: 22px; /* 调整宽度 */
      height: 22px; /* 调整高度 */
    }
  }