.ultrafiltration-ball {
    width: 100%;
    height: 100%;
    display: block;
    
    // 确保 Canvas 元素填满容器
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .lower-z-index {
    z-index: -1 !important;
  }