.chart-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  
  .indicator-item {
    display: flex;
    align-items: center;
    
    .indicator-color {
      width: 12px;
      height: 12px;
      border-radius: 6px;
      margin-right: 6px;
    }
    
    .indicator-label {
      font-size: 12px;
      color: #666666;
    }
  }
}