.chart-indicators {
  display: flex;
  align-items: center;
  gap: 12px;
  
  .indicator-item {
    display: flex;
    align-items: center;
    gap: 4px;
    
    .indicator-color {
      width: 12px;
      height: 12px;
      border-radius: 2px;
      
      &.ultrafiltration {
        background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
      }
      
      &.drainage {
        background: #C58BF2;
      }
      
      &.target {
        background: #EEA4CE;
        border: 1px dashed #D18CE0;
      }
    }
    
    .indicator-label {
      font-size: 12px;
      color: #666;
    }
  }
} 